{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="page-header"><h1>{% trans 'Tasks' %}</h1></div>
  <a href="{% url 'task-create' project_id=view.membership.project.pk %}">Create new Task</a>
  <table class="table">
    <tr>
      <th>{% trans 'Name' %}</th>
    </tr>
    {% for task in object_list %}
    <tr>
      <td>{{ task.name }}</td>
      <td><a href="{% url 'task-update' project_id=task.project_id task_id=task.pk %}">{% trans 'Edit' %}</a></td>
      <td><a href="{% url 'task-delete' project_id=task.project_id task_id=task.pk %}">{% trans 'Delete' %}</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
