body {
	background-color: #f1f1f1;
	font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    color: #336799;
}

h2 {
    color: #336799;
}

table.formtable {
	width: 400px;
}

th {
    text-align: left;
}

div#dimosy_page {
    width: 930px;
    background: transparent none repeat scroll 0% 0%;
    margin: 0px auto;
}